{{ define "main" }}
<center><h2><a>{{ .Title }}</a></h2></center>

{{ .Content }}
<div class="image-grid">
    {{ with .Site.GetPage "/creations" }}
        {{ range first 12 (sort .Data.Pages "Date" "asc")}}
            <a href="{{ .Permalink }}" title="{{ .Title }}">
            {{ $image := .Page.Resources.GetMatch .Params.image }}
            {{ with $image }}
                {{ $thumb := .Resize "400x" }}
                <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
            {{end}}
            </a>
        {{ end }}
    {{ end }}
    </div>
{{ end }}