{{ define "main" }}
<center><h2><a>{{ .Title }}</a></h2></center>

<div class="image-grid">
    {{ with .Site.GetPage "/contact" }}
        {{ range first 3 (sort .Data.Pages "Date" "asc")}}
            {{ $image := .Page.Resources.GetMatch .Params.image }}
            {{ with $image }}
                {{ $thumb := .Resize "1000x" }}
                <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
            {{end}}
            </a>
        {{ end }}
    {{ end }}
    </div><br>

{{ .Content }}
{{ template "_internal/disqus.html" . }}

{{ end }}